<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div class="nav">
        <a th:href="@{/}" class="active">Home</a>
        <a th:href="@{/adminRegister}">Register</a>
        <a th:href="@{/login}">Sign in</a>
    </div>
    <img class= "center" src="/images/company.jpg" width="800" height="400" alt="company_logo">
    <div><h1 style = "text-align: center; color: green"> WELCOME </h1></div>


</header>

</body>
</html>